@import "Fuentes.css";

body{
    background-image:url(../Img/stars3.jpg);
    border: 0.2em solid black;
    background-position: center;
    background-color:black;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
}

h1{
    color:gold;
    text-align: center;
    font-family: starjedi, Verdana;
    size: 1.5em;
}
h2{
    color: dodgerblue;
}
h3{
    color: lightgreen;
}
ul{
    color:powderblue;
    
}
ol{
    color:seagreen;
}
dl{
    color:sandybrown;
}
header{
    border: 0.5em solid goldenrod;
    background-color: black;
}

header img{
    width: 20%;
    border-radius: 5%;
}

#titulo{
    color: gold;
    text-align: justify;
    text-decoration: double;
    font-family: starjedi, Verdana;
    font-size: 2.6em;
}

nav {
    background-color:black;
    border-color: azure;
    border-radius: 0.3em;
    padding: 2% 4%;
}

nav a{
    color:gold;
    text-align: center;
    padding: 2% 4%;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover{
    background-color:goldenrod;
    color: black;
}

section{
    float: left;
    width: 35%;
}

aside{
    float: right;
    width: 30%;
}
article{
    size: 1em;
    text-align:justify;
    font-family: starjedi, Verdana;
}

.estiloParrafo{
    color:cadetblue;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
section{
    color: gold;

}
aside{
    color: dodgerblue;
    font-family: starjedi,Verdana;
    font-size: 1.4em;
}
h6{
    color: dodgerblue;
    size: 0.8em;
}
footer{
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#contenedor{
    text-align:center;
    color: gold;
    background-color:black;
    text-decoration-color: gold;
    border: 0.3em solid ghostwhite;
    width: 50%;
}

#contenedorVideo{
    width:90%;
}


#backToTop{
    display: none;
    position: fixed;
    bottom: 5%;
    right: 8%;
    z-index: 99;
    font-size: 1.125em;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    outline: none;
    background-color: gold;
    color: black;
    /* top right bottom left */
    /*padding: .9375em .9375em 1em 1em;*/
    padding: .9375em;
    /*padding-top: .9375em;
    padding-right: .9375em;
    padding-left: 1em;
    padding-bottom: 1em;*/
    border-radius: .3em;
    cursor: pointer;
}

#backToTop:hover{
    background-color:white;
    color: black;
}